<div class="container-fluid mt-2" style="width:100%">
    <div class="flex justify-content-between p-2 ">
        <h3>PARTY</h3>
    </div>
    <section>
        <div class="card">
            <div class="p-grid ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow-3">
                            <p-accordion>
                                <p-accordionTab header="USER" [selected]="true">
                                    <div class="card shadow-3">
                                        <div class="card-header">Create Party</div>
                                        <div class="card-body">
                                            <div class="grid">
                                                <div class="row mt-1 px-2 col-12">
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="usertypr"><span class="text-danger">
                                                            </span>Party</label>
                                                        <div class="d-flex">
                                                            <label
                                                                class="mr-1 border w-25 d-flex align-items-center justify-content-center"
                                                                for="username"><span class="text-danger">
                                                                </span>{{formData.partyId}}</label>
                                                            <p-dropdown class="w-100" [options]="party"
                                                                [(ngModel)]="formData.partyId"
                                                                placeholder="Select a Type" optionLabel="partyName"
                                                                optionValue="id"></p-dropdown>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mt-4 text-right col-sm-12">
                                                        <button pButton pRipple type="button" icon="pi pi-save" (click)="AddData()"
                                                        label="Add" class="p-button-sm p-button-success"> </button>
                                                        <button pButton pRipple type="button" icon="pi pi-trash" (click)="RemoveData()"
                                                        label="Remove" class="ml-2 p-button-sm p-button-danger"> </button>
                                                    </div>
                                                    <div class="col-md-12 mt-4">
                                                        <div class="pad-wrapper">
                                                            <div class="box">
                                                                <div class="content">
                                                                    <p-table #dt [scrollable]="true"
                                                                        scrollHeight="600px" responsiveLayout="scroll"
                                                                        [value]="partyDtl"
                                                                        styleClass="p-datatable-sm p-datatable-gridlines"
                                                                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                                                        [rows]="10" [showCurrentPageReport]="true"
                                                                        [rowsPerPageOptions]="[10, 25, 50]"
                                                                        [paginator]="true" [rows]="10">

                                                                        <ng-template pTemplate="header">
                                                                            <tr>
                                                                                <th pSortableColumn="code">No.
                                                                                    <p-sortIcon
                                                                                        field="code"></p-sortIcon></th>
                                                                                <th pSortableColumn="name">BarCode
                                                                                    <p-sortIcon
                                                                                        field="name"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    ItemName<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    BonusQty<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    SalePrice<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Desc%<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    FlatDesconeachQty%<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    GST%<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    GSTPer2%<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Remakrs%<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                                <th pSortableColumn="price">
                                                                                    Action<p-sortIcon
                                                                                        field="price"></p-sortIcon></th>
                                                                            </tr>
                                                                        </ng-template>
                                                                        <ng-template pTemplate="body" let-user let-i="rowIndex">
                                                                            <tr>
                                                                                <td> <input type="text"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Amount"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.no"></td>
                                                                                <td> <input type="text"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Amount"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.barCode"></td>
                                                                                <td> <input type="text"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Amount"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.itemName"></td>
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Amount"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.bonusQty"></td>
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Amount"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.salePrice"></td>
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Amount"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.desc"></td>
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Amount"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.flatDesconeachQty"></td>
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Amount"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.gST"></td>
                                                                                <td> <input type="number"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Amount"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.gSTPer2"></td>
                                                                                <td> <input type="text"
                                                                                        class="form-control form-control-sm col-md-12 pwd"
                                                                                        placeholder="Amount"
                                                                                        [disabled]="false"
                                                                                        [(ngModel)]="user.remakrs"></td>
                                                                                        <td>  <button pButton pRipple type="button" icon="pi pi-trash" (click)="RemoveCol(i)"
                                                                                            class="p-button-sm p-button-danger"> </button></td>
                                                                            </tr>
                                                                        </ng-template>
                                                                       
                                                                    </p-table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end w-100" style="margin-top:10px">
                                        <div>
                                            <button style="margin-right: 3px" pButton pRipple type="button"
                                                icon="pi pi-arrow-left" (click)="cancel()" label="Back"
                                                class="p-button-sm p-button-danger"> </button>
                                            <button pButton pRipple type="button" icon="pi pi-save" (click)="addParty()"
                                                label="Save" class="p-button-sm p-button-success"> </button>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>

<p-toast position="top-right"></p-toast>