<div class="container-fluid mt-2" style="width:100%">
    <div class="flex justify-content-between p-2 ">
        <h3>PARY</h3>
    </div>
    <section>
        <div class="card">
            <div class="p-grid ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow-3">
                            <p-accordion>
                                <p-accordionTab header="USER" [selected]="true">
                                    <div class="card shadow-3">
                                        <div class="card-header">Create Party</div>
                                        <div class="card-body">
                                            <div class="grid">
                                                <div class="row mt-1 px-2 col-12">  
                                                    <div class="col-md-6 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Party Name</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Name"
                                                            [(ngModel)]="formData.partyName">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Cell No</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Name"
                                                            [(ngModel)]="formData.mobileNo">
                                                    </div> 
                                                    <div class="col-md-6 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Address</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Name"
                                                            [(ngModel)]="formData.address">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Telephone No.</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Name"
                                                            [(ngModel)]="formData.telephoneNo">
                                                    </div> 
                                                    <div class="col-md-6 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Fax No.</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Name"
                                                            [(ngModel)]="formData.faxNo">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Email</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Name"
                                                            [(ngModel)]="formData.email">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Tax Reg No.</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Name"
                                                            [(ngModel)]="formData.taxRegNo">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>NTN</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Name"
                                                            [(ngModel)]="formData.ntn">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 pl-2">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>NIC</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Name"
                                                            [(ngModel)]="formData.nic">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="usertypr"><span class="text-danger">
                                                            </span>Area</label>
                                                            <div class="d-flex">
                                                                <label class="mr-1 border w-25 d-flex align-items-center justify-content-center" for="username"><span class="text-danger">
                                                                </span>{{formData.areaId}}</label>
                                                                <p-dropdown class="w-100" [options]="type" [(ngModel)]="formData.areaId"
                                                                placeholder="Select a Type" optionLabel="name"
                                                                optionValue="id"></p-dropdown>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="usertypr"><span class="text-danger">
                                                            </span>City</label>
                                                            <div class="d-flex">
                                                                <label class="mr-1 border w-25 d-flex align-items-center justify-content-center" for="username"><span class="text-danger">
                                                                </span>{{formData.cityId}}</label>
                                                                <p-dropdown class="w-100" [options]="type" [(ngModel)]="formData.cityId"
                                                                placeholder="Select a Type" optionLabel="name"
                                                                optionValue="id"></p-dropdown>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="usertypr"><span class="text-danger">
                                                            </span>Sub Area</label>
                                                            <div class="d-flex">
                                                                <label class="mr-1 border w-25 d-flex align-items-center justify-content-center" for="username"><span class="text-danger">
                                                                </span>{{formData.subAreaId}}</label>
                                                                <p-dropdown class="w-100" [options]="type" [(ngModel)]="formData.subAreaId"
                                                                placeholder="Select a Type" optionLabel="name"
                                                                optionValue="id"></p-dropdown>
                                                            </div>
                                                    </div>   
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Address</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Active "
                                                            [(ngModel)]="formData.address1">
                                                    </div> 
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Contact Person</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Active "
                                                            [(ngModel)]="formData.contactPerson">
                                                    </div> 
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="usertypr"><span class="text-danger">
                                                            </span>Category</label>
                                                            <div class="d-flex">
                                                                <label class="mr-1 border w-25 d-flex align-items-center justify-content-center" for="username"><span class="text-danger">
                                                                </span>{{formData.categoryId}}</label>
                                                                <p-dropdown class="w-100" [options]="type" [(ngModel)]="formData.categoryId"
                                                                placeholder="Select a Type" optionLabel="name"
                                                                optionValue="id"></p-dropdown>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Due Days</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12"
                                                            placeholder="Active "
                                                            [(ngModel)]="formData.dueDays">
                                                    </div>                                        
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end w-100" style="margin-top:10px">
                                        <div>
                                            <button style="margin-right: 3px" pButton pRipple type="button"
                                                icon="pi pi-arrow-left" (click)="cancel()" label="Back"
                                                class="p-button-sm p-button-danger"> </button>
                                            <button pButton pRipple type="button" icon="pi pi-save" (click)="addUser()"
                                                label="Save" class="p-button-sm p-button-success"> </button>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>

<p-toast position="top-right"></p-toast>