
<title>Table with Border and Scrollbar</title>

  <div class="table-wrapper">
    <table>
      <tr>
        <th>Barcode</th>
        <th>ItemName</th>
        <th>DiscVal</th>
        <th>Barcode</th>
        <th>ItemName</th>
        <th>DiscVal</th>
        <th>Barcode</th>
        <th>ItemName</th>
        <th>DiscVal</th>
        <th>Barcode</th>
        <th>ItemName</th>
        <th>DiscVal</th>
        </tr>
      <tr>
        <td>0000</td>
        <td>This is a very long item name</td>
        <td>60.00</td>
        <td>0000</td>
        <td>This is a very long item name</td>
        <td>60.00</td>
        <td>0000</td>
        <td>This is a very long item name</td>
        <td>60.00</td>
        <td>0000</td>
        <td>This is a very long item name</td>
        <td>60.00</td>
        </tr>
      </table>
  </div>



  