<div class="card container-fluid mt-2">
    <div class="d-flex justify-content-between p-2">
        <div>
            <h3>PURCHASES</h3>
        </div>
        <div>
            <button pButton pRipple type="button" icon="pi pi-plus" label="Add Purhase"
                class="p-button-sm p-button-success float-right"
                 (click)="addItem()"></button>
        </div>
    </div>
    <section class="content-header pt-0 pb-0 mx-0 mb-0 md-0">
        <p-accordion>
            <p-accordionTab header="Search">
                <div class="grid">
                    <div class="row mt-1 px-2 col-12">
                        <div class="col-md-4 col-sm-12">
                            <label class="mb-0 mx-2" for="Name">Barcode</label>
                            <input type="text"
                            class="form-control p-inputtext p-component txt"
                                placeholder="Search By Helmet Code">
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label class="mb-0 mx-2" for="Name">Item Name</label>
                            <input type="text"
                            class="form-control p-inputtext p-component txt"
                                placeholder="Search By Helmet Code">
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label class="mb-0 mx-2" for="Name">Quantity</label>
                            <input type="text"
                            class="form-control p-inputtext p-component txt"
                                placeholder="Search By Helmet Code">
                             </div>
                        <div class="col-md-4 col-sm-12">
                            <label class="mb-0 mx-2" for="Name">Expiry</label>
                            <input type="text"
                            class="form-control p-inputtext p-component txt"
                                placeholder="Search By Helmet Code">
                            </div>
                        <div class="col-md-4 col-sm-12">
                            <label class="mb-0 mx-2" for="Name">Category</label>
                            <input type="text"
                            class="form-control p-inputtext p-component txt"
                                placeholder="Search By Helmet Code">
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <label class="mb-0 mx-2" for="Name">Class</label>
                                <input type="text"
                                class="form-control p-inputtext p-component txt"
                                    placeholder="Search By Helmet Code">
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <label class="mb-0 mx-2" for="Name">Manufacturer</label>
                                    <input type="text"
                                    class="form-control p-inputtext p-component txt"
                                        placeholder="Search By Helmet Code">
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <label class="mb-0 mx-2" for="Name">Remarks</label>
                                        <input type="text"
                                        class="form-control p-inputtext p-component txt"
                                            placeholder="Search By Helmet Code">
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <label class="mb-0 mx-2" for="Name">Brand</label>
                                            <input type="text"
                                            class="form-control p-inputtext p-component txt"
                                                placeholder="Search By Helmet Code">
                                            </div>
                         <div class="col-md-4 col-sm-12 text-right mt-1">
                            <button pButton pRipple type="button" icon="pi pi-eraser" label="Clear"
                                class="p-button-sm p-button-secondary float-right mx-1  mt-4"
                                style="width:130px" (click)="clearFilter()"></button>
                            <button pButton pRipple type="button" icon="pi pi-search" label="Search"
                                class="p-button-sm p-button-info float-right mx-1 mt-4"
                                style="width:130px" (click)="getData()"></button>

                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
        <p-divider></p-divider>
        <div class="pad-wrapper">
            <div class="box">
                <div class="content">
                    <p-table #dt [scrollable]="true" scrollHeight="600px"  responsiveLayout="scroll" [value]="item" styleClass="p-datatable-sm p-datatable-gridlines" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [rows]="10">
                    <!-- <ng-template pTemplate="caption">
                        <div class="flex">
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" label="Export PDF" (click)="exportPdf()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" label="Export XLS" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file" label="Export CSV" (click)="dt.exportCSV()"  class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>                        </div>
                    </ng-template>     -->
                    <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="code">Barcode <p-sortIcon field="code"></p-sortIcon></th>
                                <th pSortableColumn="name">Item Name <p-sortIcon field="name"></p-sortIcon></th>
                                <th pSortableColumn="category">Quantity <p-sortIcon field="category"></p-sortIcon></th>
                                <th pSortableColumn="quantity">Expiry <p-sortIcon field="quantity"></p-sortIcon></th>
                                <th pSortableColumn="price">Bonus Quantity<p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="price">Purhase Price<p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="price">Sale Price<p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="price">Grand Total<p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="price">Remarks<p-sortIcon field="price"></p-sortIcon></th>
                                <th pSortableColumn="price">Action<p-sortIcon field="price"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itm>
                            <tr>
                                <td>{{itm.aliasName}}</td>
                                <td>{{itm.itemName}}</td>
                                <td>{{itm.purchasePrice}}</td>
                                <td>{{itm.salePrice}}</td>
                                <td>{{itm.categoryId}}</td>
                                <td>{{itm.classId}}</td>
                                <td>{{itm.manufacturerId}}</td>
                                <td>{{itm.remarks}}</td>
                                <td>{{itm.brandId}}</td>
                                <td style="position: relative;" class="d-flex">
                                    <button style="margin-right: 3px" pButton pRipple
                                        icon="pi pi-pencil" class="p-button-rounded p-button-info"
                                        (click)="editItem(itm.id)"></button>
                                    <button pButton pRipple icon="pi pi-trash"
                                        class="p-button-rounded p-button-danger" (click)="deleteItems(itm)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </section>
</div>

<p-toast position="top-right"></p-toast>
<p-confirmDialog #cd [style]="{width: '30vw'}" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="header">
        <h3>Alert</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" class="p-button-danger" label="No"
            (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" class="p-button-success"
            (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>