<div class="container-fluid mt-2" style="width:100%">
    <div class="flex justify-content-between p-2 ">
        <h3> CREATE ACCOUNT</h3>
    </div>
    <section>
        <div class="card">
            <div class="p-grid ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow-3">
                            <p-accordion>
                                <p-accordionTab header="ACCOUNT" [selected]="true">
                                    <div class="card shadow-3">
                                        <div class="card-header">Create Account</div>
                                        <div class="card-body">
                                            <div class="grid">
                                                <div class="row mt-1 px-2 col-12">
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="username"><span class="text-danger">
                                                            </span>Account Number</label>
                                                        <input type="text" 
                                                            class="form-control col-md-12 "
                                                            placeholder="Name" id="Name"
                                                            [(ngModel)]="formData.accountNumber">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="lastname"><span class="text-danger">
                                                            </span>Name</label>
                                                            <input type="text" 
                                                            class="form-control col-md-12 "
                                                            placeholder="Name"
                                                            [(ngModel)]="formData.name">
                                                    </div>                                                    
                                                </div>
                                                <div class="row mt-1 px-2 col-12" >
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="username"><span class="text-danger">
                                                            </span>Group Name</label>
                                                            <div class="d-flex">
                                                                <label class="mr-1 border w-25 d-flex align-items-center justify-content-center" for="username"><span class="text-danger">
                                                                </span>{{formData.groupId}}</label>
                                                                <p-dropdown class="w-100" [options]="usrGrp" [(ngModel)]="formData.groupId"
                                                                placeholder="Select a Gender" optionLabel="name"
                                                                optionValue="id"></p-dropdown>
                                                            </div>
                                                            
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="username"><span class="text-danger">
                                                            </span>Sub Group Name</label>
                                                            <div class="d-flex">
                                                                <label class="mr-1 border w-25 d-flex align-items-center justify-content-center" for="username"><span class="text-danger">
                                                                </span>{{formData.subGroupId}}</label>
                                                                <p-dropdown class="w-100" [options]="usrGrp" [(ngModel)]="formData.subGroupId"
                                                                placeholder="Select a Gender" optionLabel="name"
                                                                optionValue="id"></p-dropdown>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="usertypr"><span class="text-danger">
                                                            </span>Account Category</label>
                                                            <div class="d-flex">
                                                                <label class="mr-1 border w-25 d-flex align-items-center justify-content-center" for="username"><span class="text-danger">
                                                                </span>{{formData.accountCategoryId}}</label>
                                                                <p-dropdown class="w-100" [options]="accCat" [(ngModel)]="formData.accountCategoryId"
                                                                placeholder="Select a Gender" optionLabel="name"
                                                                optionValue="id"></p-dropdown>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label for="usertypr"><span class="text-danger">
                                                            </span>Account Type</label>
                                                            <div class="d-flex">
                                                                <label class="mr-1 border w-25 d-flex align-items-center justify-content-center" for="username"><span class="text-danger">
                                                                </span>{{formData.accountTypeId}}</label>
                                                                <p-dropdown class="w-100" [options]="accType" [(ngModel)]="formData.accountTypeId"
                                                                placeholder="Select a Gender" optionLabel="name"
                                                                optionValue="id"></p-dropdown>
                                                            </div>
                                                    </div>
                                                </div>  
                                                <div class="col-md-4 col-sm-12 pl-2">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Manual Code</label>
                                                        <input type="text" 
                                                        class="form-control  col-md-12 "
                                                        placeholder="Name"
                                                        [(ngModel)]="formData.manualCode">
                                                </div>
                                                <div class="col-md-4 col-sm-12 px-4">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Kind Code</label>
                                                        <input type="text" 
                                                        class="form-control  col-md-12 "
                                                        placeholder="Name"
                                                        [(ngModel)]="formData.kindCode">
                                                </div> 
                                                <div class="col-md-4 col-sm-12 px-4">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Priority</label>
                                                        <input type="text" 
                                                        class="form-control  col-md-12 "
                                                        placeholder="Name"
                                                        [(ngModel)]="formData.priority">
                                                </div>
                                                <div class="col-md-4 col-sm-12 pl-2">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Type</label>
                                                        <input type="text" 
                                                        class="form-control  col-md-12 "
                                                        placeholder="Name"
                                                        [(ngModel)]="formData.type">
                                                </div>
                                                <div class="col-md-4 col-sm-12 px-4">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Sub Cd Type</label>
                                                        <input type="text" 
                                                        class="form-control  col-md-12 "
                                                        placeholder="Name"
                                                        [(ngModel)]="formData.subCdType">
                                                </div>
                                                <div class="col-md-4 col-sm-12 px-4">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Disc No</label>
                                                        <input type="text" 
                                                        class="form-control  col-md-12 "
                                                        placeholder="Name"
                                                        [(ngModel)]="formData.discNo">
                                                </div>
                                                <div class="col-md-4 col-sm-12 pl-2">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Balance Limit</label>
                                                        <input type="text" 
                                                        class="form-control  col-md-12 "
                                                        placeholder="Name"
                                                        [(ngModel)]="formData.balanceLimit">
                                                </div>
                                                <div class="col-md-4 col-sm-12 px-4">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Tax Limit</label>
                                                        <input type="text" 
                                                        class="form-control  col-md-12 "
                                                        placeholder="Name"
                                                        [(ngModel)]="formData.taxLimit">
                                                </div>
                                                <div class="col-md-4 col-sm-12 px-4">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Tax Amount</label>
                                                        <input type="text" 
                                                        class="form-control  col-md-12 "
                                                        placeholder="Name"
                                                        [(ngModel)]="formData.taxAmount">
                                                </div>
                                                <div class="col-md-12 col-sm-12 pl-2">
                                                    <label for="lastname"><span class="text-danger">
                                                        </span>Remarks</label>
                                                        <input type="text" 
                                                        class="form-control  col-md-12 "
                                                        placeholder="Name"
                                                        [(ngModel)]="formData.remarks">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end w-100" style="margin-top:10px">
                                        <div>
                                            <button style="margin-right: 3px" pButton pRipple type="button"
                                                icon="pi pi-arrow-left" (click)="cancel()" label="Back"
                                                class="p-button-sm p-button-danger"> </button>
                                            <button pButton pRipple type="button" icon="pi pi-save" (click)="addUser()"
                                                label="Save" class="p-button-sm p-button-success"> </button>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>

<p-toast position="top-right"></p-toast>